<br/><%= make_breadcrumb %>   
 <%= render_breadcrumbs  %>
<% if permitted_to? :index %>
<span style="float:right;"><%= link_to "logout", logout_path %></span><br/>
 <p style="color: blue"><%= flash[:notice] %></p>
<%if @patient_to_beds.present?%>
 <br/><h3 class='mt-5'>Listing  Admitted Patients</h3>
<table class = "table table-hover">
    <thead>
  <tr>
    <th scope = "col">Patient Name</th>
    <th scope = "col">Date of Admission</th>
    <th scope = "col">Action</th>
      </tr>
    </thead>
    <tbody>
<% @patient_to_beds.each do |patient_to_bed| %>
  <tr>
    <td><%= patient_to_bed.patient.first_name %></td>
    <td><%= patient_to_bed.admitted_on %></td>
    <td ><%= link_to "Delete", patient_to_bed , :confirm => 'Are you sure?', :method => :delete%></td>
  </tr>
  
<% end %>
   </tbody>
  <%else%>
 <br/> <h2 class='mt-5' style ="color:red;">No Patients</h2>
  <%end%>
</table>
<% end %>