<% if permitted_to? :create %>
<br/><%= make_breadcrumb %>   
 <%= render_breadcrumbs  %>
<span style="float:right;"><%= link_to "logout", logout_path %></span>
            <h5 class='mt-5'>New Department</h5>
            <%  form_for @department  do |f| %>
          <%= f.error_messages%>
            <form>
            <div class ="form-group">
                <%= f.label :name %><br/>
                <%= f.text_field :name, :class => "form-control" %><br/>
            </div>
            <div class ="form-group">
                <%= f.label :description %>
                <%= f.text_field :description , :class => "form-control" %>
                </div>
                <%= f.submit "Create", :class => "btn"%>
            
            <% end %>
            </form>
            <%else%>
            <h2></h2>
 <%end%>