<%= make_breadcrumb %>   
 <%= render_breadcrumbs  %>
<% if permitted_to? :change_password %>
<% form_for :patient, :url => {:controller => :patients , :action => :reset} do |f| %>
            <%= f.error_messages %>
            <form>
            <div class ="form-group mt-5">
                <%= f.label :new_password %>
                <%= f.text_field :new_password , :class => "form-control" %>
            </div>

            <%= f.submit "Reset", :class => "btn mt-3" %>
            <% end %>
            </form>
<% end %>