<%= make_breadcrumb %>   
 <%= render_breadcrumbs  %>
<div class ="row">
      <div class = "col-3 ml-auto w-25">
              <div class="card card-body mb-2">
                                   
                                      <%= link_to "logout", logout_path %>
              </div>
      </div>
</div> 
<div class = "row">
            <div class = "col">
                    <div class = "col-3 border border-info rounded float-left" style = "margin-right: 50px;">
                            <%= link_to "View records", record_view_medicalreports_path %><br/>
                            <span>The records uploaded by doctor can be viewed here</span>
                </div>
                    <div class = "col-3 border border-info rounded float-left" style = "margin-right: 50px;">
                        <%= link_to "Book an appointment", book_an_appointment_appointments_path %><br/>
                        <span>Booking an appointment with the doctor</span>    
                    </div>
                    <div class = "col-3 border border-info rounded float-left">
                        <%= link_to "change,reset password",change_password_patients_path %><br/>
                        <span>Chaning the credentials</span>
                </div>
            </div>
</div>
<div class = "row">
    <div class = "col">
         <div class = "col-3 border border-info rounded float-left mt-5" style = "margin-right: 50px;">
                            <%= link_to "View Previous Histroy", previous_histroy_patients_path %><br/>
                            <span>The records and the previous admitted date are displayed</span>
         </div>
    </div>
</div>



