<br/><%= make_breadcrumb %>   
 <%= render_breadcrumbs  %>
<span style="float:right;"><%= link_to "logout", logout_path %></span>
<% if permitted_to? :index %><br/>
 <p style="color: blue"><%= flash[:notice] %></p>
<%if @doctors.present?%>
 <br/><table class ="table table-hover">
    <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope = "col">Qualification</th>
    <th scope = "col">Action</th>
    <th scope ="col"></th>
  </tr>
    </thead>
    <tbody>
<% for doctor in @doctors %>
  <tr>
    <td><%=h doctor.first_name%></td>
    <td><%=h doctor.qualification %></td>
    <td><%= link_to 'Show', department_doctor_path(@department, doctor) %><br/>
    <td><%= link_to 'Edit',edit_department_doctor_path(@department,doctor) %><br/>
    <%= link_to 'Delete',department_doctor_path(@department,doctor), :confirm => 'Are you sure?',
            :method => :delete  %> </td>
  </tr>
<% end %>
    </tbody>
</table>
<%else%>
 <br/><h2 style ="color:red;"> No Doctors </h2>
<%end%>
<%= link_to "Add Doctors",new_department_doctor_path(@department) %>
<%end%>